*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* RESET */
}

body{
    background-color: gray;
}

header section{
    height: 100px;
    background-color: white;
}

.main-page{
    width: 600px;
    height: 1000px;
    margin: 5% auto;
    background-color: white;
    border-radius: 5px;
}

.top-bar{
    height: 70px;
    line-height: 70px;
    width: 100%;
    border-bottom: 1px solid gray;
}

#bluebutton{
    text-decoration: none;
    border: none;
    background-color: rgb(11, 102, 238);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#whitebutton{
    text-decoration: none;
    border: 1px solid gray;
    background-color: white;
    color: gray;
    border-radius: 5px;
    padding: 10px;
}



