*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* RESET */
}

body{
    background-color: gray;
}

header section{
    height: 100px;
    background-color: white;
}

.main-page{
    width: 600px;
    height: 1000px;
    margin: 5% auto;
    background-color: white;
    border-radius: 5px;
}

.top-bar{
    height: 70px;
    line-height: 70px;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 0 50px;
}

#bluebutton{
    text-decoration: none;
    border: none;
    background-color: rgb(11, 102, 238);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#whitebutton{
    text-decoration: none;
    border: 1px solid gray;
    background-color: white;
    color: gray;
    border-radius: 5px;
    padding: 10px;
}

.main-list{
    padding: 30px 50px;
}

.task, .date, .upcoming{
    width: 100%;
    padding: 15px 0;;
}

.task h2, p .date h2, p .upcoming h2, p{
    padding: 7px 0 7px 12px;
    /* prendo tutti gli elementi dei blocchi che compongono la main-list */
}

.label-size{
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
}

.blue{
    background-color: rgb(11, 102, 238);
}

.purple{
    background-color: rgb(135, 57, 207);
}

.green{
    background-color: rgb(44, 205, 89);
}

.yellow{
    background-color: rgb(162, 216, 54);
}

.pink{
    background-color: rgb(232, 116, 136);
}